fastapi
uvicorn

langchain
langchain-core
langchain-google-genai
langchain-community
langchain-chroma
langchain-text-splitters

google-generativeai

chromadb

pypdf

python-multipart

pydantic-settings
